.c-more {
    color: #007aff;
    cursor: pointer;
    line-height: 3em;
    padding: 10px;
    display: block;
    text-align: center;
}

.c-more:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
