.c-secondary-header {
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, .95);
    line-height: 44px;
    height: 44px;
    color: #333;
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

.c-secondary-header h1 {
    cursor: default;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin: 0 65px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
}

.c-secondary-header-button {
    position: absolute;
    top: 0;
    padding: 7px 5px;
    line-height: 1em;
    cursor: pointer;
}

.c-secondary-header-button.left {
    height: 30px;
    line-height: 25px;
    overflow: hidden;
    text-indent: -999px;
    min-width: 32px;
    background-image: url(./images/home-icon.svg), none;
    background-size: 19.5px 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.c-secondary-header-button:hover{
    background-color: #F6F6EF;
}